<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- !Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
     <!--Scroll Reveal js  -->
     <script src="https://unpkg.com/scrollreveal"></script>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/blog.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg justify-content-sm-start fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand order-lg-0 ml-lg-0 ml-2 mr-auto" href="#">Sanyog Changmai</a>
      <i class="material-icons navbar-toggler align-self-start" type="button">menu</i>
      <span class="navbar-toggler-icon"></span>
      <!-- <button class="navbar-toggler align-self-start" type="button">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse p-3 p-lg-0 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu" id="navbarSupportedContent">
        <ul class="navbar-nav align-self-stretch">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <button class="resume-btn">Resume</button> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="overlay"></div>



  <!-- Blog Body -->

  <!-- Intro Heading Section -->

  <section class="blog-intro">
    <div class="intro-img-holder">
      <h1 class="blog-title">Welcome To My Blog</h1>
      <p class="welcome-note">Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Quis asperiores eos quae ut unde 
         aperiam ratione minima illum laboriosam quibusdam?
      </p>
    </div>   
  </section>

  <section class="sub-group">
    <div class="container">
      <div class="row">

        <a href="#">
          <div class="col-sm sub-left">
            <a href="#">
              <h2>Programming</h2>
            </a>    
          </div>
        </a>
        
        <a href="#">
          <div class="col-sm sub-middle">
            <a href="#">
              <h2>Web Development</h2>
            </a>    
          </div>
        </a>

        <a href="#">
          <div class="col-sm sub-right">
            <a href="#">
              <h2>Flutter</h2>
            </a>    
          </div>
        </a>

      </div>
    </div>
  </section>


  <!-- Blogs -->

  <div class="container blogs">
    <div class="row">
      <div class="col-sm">
        <img class="blog-pic" src="images/profile-card.JPG" alt="">
      </div>
      <div class="col-8">
        <h3 class="blog-post-title">This is blog title</h3>
        <hr>
        <p class="blog-post-desc">
          Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Eum officia laboriosam 
          porro fugiat amet mollitia, officiis 
          incidunt iste quos cupiditate!
        </p>
        <p class="blog-post">
          Lorem ipsum dolor, sit amet consectetur 
          adipisicing elit. Accusantium praesentium 
          magni tempora sapiente consequatur cupiditate! 
          Minus aliquid harum dicta autem fuga, iure 
          nam et porro, a facilis amet rerum deleniti.
        </p>
      </div>
    </div>
  </div>

  <br><br><br><br>





<!-- Javascript -->
<script src="javascript/navbar.js"></script>
<!-- Scroll reveal js -->
<script src="javascript/reveal.js"></script>
</body>
</html>